<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    connect-src 'self' https://api.flipdot.org https://api.github.com;
    style-src 'self' 'unsafe-inline'
">
<meta name="description" content="{{ site.description }}">

<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">

<!-- No link to favicon.ico because browsers search for it in the root directory no matter what -->
<link rel="icon" href="/img/favicon_16.png" sizes="16x16">
<link rel="icon" href="/img/favicon_24.png" sizes="64x64">
<link rel="icon" href="/img/favicon_32.png" sizes="32x32">
<link rel="icon" href="/img/favicon_48.png" sizes="64x64">
<link rel="icon" href="/img/favicon_64.png" sizes="64x64">
<link rel="icon" href="/img/favicon_96.png" sizes="64x64">
<link rel="icon" href="/img/favicon_128.png" sizes="64x64">
<link rel="icon" href="/img/favicon.svg">

<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Blog Posts">

<script async src="/js/edit.js"></script>

<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
