<header class="site-header">
    <div class="title">
        <a href="/">{% include flipdot.svg %}</a>
    </div>
    <input id="header-dropdown-checkbox" type="checkbox">
    <label for="header-dropdown-checkbox" class="header-dropdown-button">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </label>
    <label for="header-dropdown-checkbox" class="page-overlay"></label>
    <div class="header-dropdown-contents">
        <ul class="site-nav">
        {% for item in site.nav_items %}
            <li><a href="{{ item.href }}">{{ item.text }}</a></li>
        {% endfor %}
        </ul>
        <ul class="status-bar">
        {% for item in site.status_bar_items %}
            <li>
                <a href="{{ item.href }}" aria-label="{{ item.aria_label }}"
                    {% if item.id %}id="status-bar-{{ item.id }}"{% endif %}>
                    <i class="fa fa-lg fa-{{ item.icon }}" aria-hidden="true"></i>
                </a>
            </li>
        {% endfor %}
        </ul>
        <script async src="/js/space_status.js"></script>
    </div>
</header>
<div class="site-header-separator"></div>
