// Change CSS' stupid default box sizing model
// See https://css-tricks.com/box-sizing/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    // Make absolute elements with no other positioned parent relative to the
    // full body, rather than the initial viewport.
    position: relative;

    min-height: 100%;

    line-height: 1.3;
    font-family: 'OpenSans';
    background-color: #fff;
    color: $flipdot-black;
}

strong {
    // Bold sucks, semi-bold is large enough
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ISOCPEUR';

    // ISOCPEUR glyphs have whitespace below, but not above. Work around this by
    // moving the whole tag down a little. TODO: Change the font instead of
    // working around its brokenness in CSS.
    position: relative;
    top: .1em;
}

a {
    // Get rid of link colorization
    color: inherit;
}

ul, ol {
    // Default indentation is quite large, reduce it.
    padding-left: 1.8em;
}
