// Change CSS' stupid default box sizing model
// See https://css-tricks.com/box-sizing/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    // Make absolute elements with no other positioned parent relative to the
    // full body, rather than the initial viewport.
    position: relative;

    min-height: 100%;

    background-color: #fff;
    color: $flipdot-black;
}

a {
    // Get rid of link colorization
    color: inherit;
}

ul, ol {
    // Default indentation is quite large, reduce it.
    padding-left: 1.8em;
}
