// Change CSS' stupid default box sizing model
// See https://css-tricks.com/box-sizing/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: $flipdot-black;
}

a {
    // Get rid of link colorization
    color: inherit;
}

ul, ol {
    // Default indentation is quite large, reduce it.
    padding-left: 1.8em;
}
