.site-content {
    margin: 0 auto;
    padding: .5rem;
    max-width: $max-content-width;

    h1 {
        border-bottom: 2px solid $flipdot-yellow;
    }

    pre {
        padding: .4em .6em;
    }

    :not(pre) > code {
        display: inline-block;
        margin: .2em 0;
        padding: .1em .3em;
    }

    pre,
    :not(pre) > code {
        background-color: $bg-grey;
        border-radius: .3em;
        // TODO: keep this?
        border-bottom: 1px solid #aaa;
    }
}

.attachment {
    white-space: nowrap;

    > i {
        margin-right: .3em;
    }
}
