.btn {
    padding: .4em .6em;

    text-decoration: none;
    background-color: $flipdot-yellow;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: background-color .2s, box-shadow .4s;
}

.btn:hover {
    color: $flipdot-black;
    background-color: $light-yellow;
}

.btn:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}
