.site-header {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    height: 4rem;
    max-width: $max-content-width;

    .title {
        padding: .5rem;
    }

    .logo {
        height: 3rem;
    }
}

.site-header-separator {
    height: 4px;
    background-color: $flipdot-yellow;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

#site-nav-dropdown-checkbox {
    display: none;
}

.site-nav-items {
    margin: 0;
    padding: 0;

    list-style: none;
    background-color: #fff;

    a {
        display: block;
        padding: .5em;
        text-decoration: none;
    }
}

@media screen and (max-width: 767px) {
    .site-nav-dropdown-button {
        display: block;
        margin: .5rem;
        padding: 0 .8rem;
        font-size: 2rem;
        line-height: 3rem;

        cursor: pointer;
        background-color: #eee;
        border-radius: .3rem;
    }

    #site-nav-dropdown-checkbox:not(:checked) ~ .site-nav-items {
        display: none;
    }

    // My greatest CSS hack to date:
    // Grey out the main page while the dropdown is open. Also close the
    // dropdown when the user clicks the greyed out page (but not when they
    // click the dropdown, or the header).
    #site-nav-dropdown-checkbox:checked ~ .page-overlay {
        display: block;
        z-index: 10;

        position: absolute;
        top: calc(4rem + 4px);
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.2);
    }

    .site-nav-items {
        display: block;
        position: absolute;
        top: calc(4rem + 4px);
        left: 0;
        right: 0;

        z-index: 20;
        border-bottom: 4px solid $flipdot-yellow;
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
    }

    .site-nav-items a:before {
        content: '»';
        margin: 0 .5em 0 .2em;
        color: $text-grey;
    }
}

@media screen and (min-width: 768px) {
    .site-nav {
        align-self: flex-end;
    }

    .site-nav-dropdown-button {
        display: none;
    }

    .site-nav-items {
        display: flex;

        a:hover {
            background-color: $light-yellow;
        }
    }
}
