.site-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 0 auto;
    height: 4rem;
    max-width: $max-content-width;

    .title {
        height: 4rem;
        padding: .5rem 1.5rem .5rem .5rem;
    }

    .logo {
        height: 3rem;
    }
}

.site-header-separator {
    height: 4px;
    background-color: $flipdot-yellow;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

#header-dropdown-checkbox {
    display: none;
}

.header-dropdown-contents {
    display: flex;
    flex-grow: 1;
}

.page-overlay {
    display: none;
}

.site-nav,
.status-bar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
        display: block;
        padding: .4em .6em;
        text-decoration: none;
    }
}

.status-bar {
    flex-grow: 1;
    justify-content: flex-end;
}

#status-bar-space-status.closed {
    color: $text-grey;
}

@media screen and (max-width: $screen-medium - 1px) {
    .header-dropdown-button {
        display: block;
        margin: .5rem;
        padding: 0 .8rem;
        font-size: 2rem;
        line-height: 3rem;

        cursor: pointer;
        background-color: #eee;
        border-radius: .3rem;
    }

    #header-dropdown-checkbox:not(:checked) ~ .header-dropdown-contents {
        display: none;
    }

    // My greatest CSS hack to date:
    // Grey out the main page while the dropdown is open. Also close the
    // dropdown when the user clicks the greyed out page (but not when they
    // click the dropdown, or the header).
    #header-dropdown-checkbox:checked ~ .page-overlay {
        display: block;
        z-index: 10;

        position: absolute;
        top: calc(4rem + 4px);
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.2);
    }

    .header-dropdown-contents {
        flex-direction: column;
        position: absolute;
        top: calc(4rem + 4px);
        left: 0;
        right: 0;

        z-index: 20;
        background-color: #fff;
        border-bottom: 4px solid $flipdot-yellow;
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
    }

    .site-nav {
        flex-direction: column;

        a:before {
            content: '»';
            margin: 0 .5em 0 .2em;
            color: $text-grey;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: linear-gradient(
                to right,
                transparent,
                $bg-grey 20%,
                $bg-grey 80%,
                transparent
            );
        }
    }

    .status-bar {
        li {
            flex-grow: 1;
            text-align: center;
        }

        a {
            padding: .6em;
        }
    }
}

@media screen and (min-width: $screen-medium) {
    .header-dropdown-button {
        display: none;
    }

    .site-nav a:hover,
    .status-bar a:hover {
        color: $flipdot-black;
        background-color: $light-yellow;
    }
}
