// Yellow from flipdot logo
$flipdot-yellow: #f5c600;

// Black from flipdot logo
$flipdot-black: #231f20;

// A grey tone for de-emphasized text
$text-grey: lighten($flipdot-black, 30%);

// A grey tone for contrast with the otherwise white background
$bg-grey: #eaeaea;

// Lighter yellow than $flipdot-yellow
// TODO: Ask about changing this color, it doesn't look very nice.
$light-yellow: #fbe380;

// Maximum width for the main page contents
$max-content-width: 960px;

// Sizes for @media queries
$screen-medium: 768px;
